body {
    background-color: #EEEEEE;
    font-family: Segoe UI;
    text-align: center;
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
hr {
    border-top-style: dotted;
    border-width: 0px;
    border-top-width: 10px;
    border-color: #00ADB5;
    width: 10%;
}
h2 {
    color: #00ADB5;
}
table{
    margin: auto;
}

/************************** CLASS SELECTORS *******************/